body {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: clam(1.125rem, 2vw, 1.25rem);
}
h1 {
    font-size: 2rem;
    margin: 40rem 0rem;
    text-align: center;
}
p {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
  
}